# Bootcamp: Cientista de Dados: Análise Descritiva

- Data: junho de 2022.

## Autor

Feito por [Alexsander Lopes Camargos](https://github.com/alexcamargos). Entre em contato!

[![GitHub](https://img.shields.io/badge/-AlexCamargos-1ca0f1?style=flat-square&labelColor=1ca0f1&logo=github&logoColor=white&link=https://github.com/alexcamargos)](https://github.com/alexcamargos)
[![Twitter Badge](https://img.shields.io/badge/-@alcamargos-1ca0f1?style=flat-square&labelColor=1ca0f1&logo=twitter&logoColor=white&link=https://twitter.com/alcamargos)](https://twitter.com/alcamargos)
[![Linkedin Badge](https://img.shields.io/badge/-alexcamargos-1ca0f1?style=flat-square&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/alexcamargos/)](https://www.linkedin.com/in/alexcamargos/)
[![Gmail Badge](https://img.shields.io/badge/-alcamargos@vivaldi.net-1ca0f1?style=flat-square&labelColor=1ca0f1&logo=Gmail&logoColor=white&link=mailto:alcamargos@vivaldi.net)](mailto:alcamargos@vivaldi.net)

## Licença

[MIT License](https://choosealicense.com/licenses/mit/)

## Bike-sharing: Universidade do Porto

### Objetivos
Esta atividade tem como objetivo analisar os dados de compartilhamento de bicicletas em uma cidade, coletados pela Universidade do Porto.
- Realizar a análise de uma base de dados real em Python.

### Enunciado
O uso de bicicletas como meio de transporte ganhou muita força nos últimos anos, seja por questões ambientais, de saúde ou até mesmo de infraestrutura de trânsito. Para incentivar seu uso, cidades em todo o mundo têm implementado programas de compartilhamento de bicicleta. Nesses sistemas, elas são retiradas e devolvidas em quiosques automatizados que ficam espalhados por diversos pontos da cidade.
As plataformas de compartilhamento de bicicletas costumam coletar diversos tipos de dados, como a duração da viagem, as localizações iniciais e finais dos percursos, entre outros. Esses dados, em conjunto com informações sobre o clima, o trânsito e o relevo, por exemplo, possibilitam uma análise mais robusta do compartilhamento de bicicletas.

Segue um descritivo dos dados coletados:

- rec_id: índice do registro de locação; 
- datetime: data; 
- season: estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono). Relativo ao hemisfério norte; 
- year: ano (0: 2011, 1:2012);
- month: mês (1 a 12);
- hour: hora do dia (0 a 23);
- is_holiday: booleano indicando feriado; 
- weekday: dia da semana (0: domingo, 1: segunda-feira, …, 6: sábado); 
- is_workingday: booleano indicando dia útil; 
- weather_condition: (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte); 
- temp: Temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39; 
- atemp: Sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50; 
- humidity: Humidade relativa (0 a 1); 
- windspeed: Velocidade do vento escalada entre 0 e 1 (máximo original: 67); 
- casual: número de locações para usuários casuais; 
- registered: número de locações para usuários registrados; 
- total_count: contador total de aluguéis (casual+registered).

### Responder às seguintes perguntas:
1. Qual o tamanho desse dataset?
1. Qual a média da coluna windspeed?
1. Qual a média da coluna temp?
1. Quantos registros existem para o ano de 2011?
1. Quantos registros existem para o ano de 2012?
1. Quantas locações de bicicletas foram efetuadas em 2011?
1. Quantas locações de bicicletas foram efetuadas em 2012?
1. Qual estação do ano contém a maior média de locações de bicicletas?
1. Qual estação do ano contém a menor média de locações de bicicletas?
1. Qual horário do dia contém a maior média de locações de bicicletas?
1. Qual horário do dia contém a menor média de locações de bicicletas?
1. Que dia da semana contém a maior média de locações de bicicletas?
1. Que dia da semana contém a menor média de locações de bicicletas?
1. Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?

In [150]:
# Versão da Linguagem Python
from platform import python_version as py_version

print(f'Versão da linguagem Python utilizada neste Jupyter Notebook: {py_version()}')

Versão da linguagem Python utilizada neste Jupyter Notebook: 3.10.4

In [151]:
# Importando a biblioteca Pandas
# pandas — Biblioteca para manipulação de dados
import pandas as pd

In [152]:
# Localização do dataset utilizado no exercício.
DATASET_PATH = r'datasets\bike-sharing.csv'

In [153]:
# Carregando os dados.
# skiprows=4 - as quatro primeiras linhas do dataset não são dados relevantes
df = pd.read_csv(DATASET_PATH)
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [155]:
# Transformando a coluna datatime em data.
df['datetime'] = pd.to_datetime(df['datetime'])

In [156]:
# Verificando possíveis valores nulos.
df.isnull().sum()

datetime             0
rec_id               0
season               0
year                 0
month                0
hour                 0
is_holiday           0
weekday              0
is_workingday        0
weather_condition    0
temp                 0
atemp                0
humidity             0
windspeed            0
casual               0
registered           0
total_count          0
dtype: int64

In [157]:
# Verificando a correlação entre as variáveis.
df.corr()

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
rec_id,1.000000,0.404046,0.866014,0.489164,-0.004775,0.014723,0.001357,-0.003416,-0.014198,0.136178,0.137615,0.009577,-0.074505,0.158295,0.282046,0.278379
season,0.404046,1.000000,-0.010742,0.830386,-0.006117,-0.009585,-0.002335,0.013743,-0.014524,0.312025,0.319380,0.150625,-0.149773,0.120206,0.174226,0.178056
year,0.866014,-0.010742,1.000000,-0.010473,-0.003867,0.006692,-0.004485,-0.002196,-0.019157,0.040913,0.039222,-0.083546,-0.008740,0.142779,0.253684,0.250495
month,0.489164,0.830386,-0.010473,1.000000,-0.005772,0.018430,0.010400,-0.003477,0.005400,0.201691,0.208096,0.164411,-0.135386,0.068457,0.122273,0.120638
hour,-0.004775,-0.006117,-0.003867,-0.005772,1.000000,0.000479,-0.003498,0.002285,-0.020203,0.137603,0.133750,-0.276498,0.137252,0.301202,0.374141,0.394071
is_holiday,0.014723,-0.009585,0.006692,0.018430,0.000479,1.000000,-0.102088,-0.252471,-0.017036,-0.027340,-0.030973,-0.010588,0.003988,0.031564,-0.047345,-0.030927
weekday,0.001357,-0.002335,-0.004485,0.010400,-0.003498,-0.102088,1.000000,0.035955,0.003311,-0.001795,-0.008821,-0.037158,0.011502,0.032721,0.021578,0.026900
is_workingday,-0.003416,0.013743,-0.002196,-0.003477,0.002285,-0.252471,0.035955,1.000000,0.044672,0.055390,0.054667,0.015688,-0.011830,-0.300942,0.134326,0.030284
weather_condition,-0.014198,-0.014524,-0.019157,0.005400,-0.020203,-0.017036,0.003311,0.044672,1.000000,-0.102640,-0.105563,0.418130,0.026226,-0.152628,-0.120966,-0.142426
temp,0.136178,0.312025,0.040913,0.201691,0.137603,-0.027340,-0.001795,0.055390,-0.102640,1.000000,0.987672,-0.069881,-0.023125,0.459616,0.335361,0.404772
atemp,0.137615,0.319380,0.039222,0.208096,0.133750,-0.030973,-0.008821,0.054667,-0.105563,0.987672,1.000000,-0.051918,-0.062336,0.454080,0.332559,0.400929
humidity,0.009577,0.150625,-0.083546,0.164411,-0.276498,-0.010588,-0.037158,0.015688,0.418130,-0.069881,-0.051918,1.000000,-0.290105,-0.347028,-0.273933,-0.322911
windspeed,-0.074505,-0.149773,-0.008740,-0.135386,0.137252,0.003988,0.011502,-0.011830,0.026226,-0.023125,-0.062336,-0.290105,1.000000,0.090287,0.082321,0.093234
casual,0.158295,0.120206,0.142779,0.068457,0.301202,0.031564,0.032721,-0.300942,-0.152628,0.459616,0.454080,-0.347028,0.090287,1.000000,0.506618,0.694564
registered,0.282046,0.174226,0.253684,0.122273,0.374141,-0.047345,0.021578,0.134326,-0.120966,0.335361,0.332559,-0.273933,0.082321,0.506618,1.000000,0.972151
total_count,0.278379,0.178056,0.250495,0.120638,0.394071,-0.030927,0.026900,0.030284,-0.142426,0.404772,0.400929,-0.322911,0.093234,0.694564,0.972151,1.000000

# Pergunta 1

*Qual o tamanho desse dataset (número de linhas, número de colunas)?*

In [158]:
print(f'O dataframe tem {df.shape[0]} linhas e {df.shape[1]} colunas.')

O dataframe tem 17379 linhas e 17 colunas.

# Pergunta 2

*Qual a média da coluna windspeed?*

In [159]:
print(f"A média da colina windspeed é: {df['windspeed'].mean():.7f}")

A média da colina windspeed é: 0.1900976

# Pergunta 3

*Qual a média da coluna temp?*

In [160]:
print(f"A média da coluna temperature é: {df['temp'].mean():.7f}")

A média da coluna temperature é: 0.4969872

# Pergunta 4

*Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)?*

In [161]:
df_2011 = df[df.datetime.dt.year == 2011].copy()

In [162]:
print(f'O dataframe para o ano de 2011 tem {df_2011.shape[0]} linhas')
print(f'O dataframe para o ano de 2011 tem {df_2011.shape[1]} colunas.')

O dataframe para o ano de 2011 tem 8645 linhas
O dataframe para o ano de 2011 tem 17 colunas.

# Pergunta 5

*Quantos registros de locações existem para o ano de 2012 (número de linhas, número de colunas)?*

In [163]:
df_2012 = df[df.datetime.dt.year == 2012].copy()

In [164]:
print(f'O dataframe para o ano de 2011 tem {df_2012.shape[0]} linhas')
print(f'O dataframe para o ano de 2011 tem {df_2012.shape[1]} colunas.')

O dataframe para o ano de 2011 tem 8734 linhas
O dataframe para o ano de 2011 tem 17 colunas.

# Pergunta 6

*Quantas locações de bicicletas foram efetuadas em 2011?*

In [165]:
df[df.datetime.dt.year == 2011]['total_count'].sum()

1243103

In [166]:
df.groupby('year')['total_count'].sum()

year
0    1243103
1    2049576
Name: total_count, dtype: int64

# Pergunta 7

*Quantas locações de bicicletas foram efetuadas em 2012?*

In [167]:
df[df.datetime.dt.year == 2012]['total_count'].sum()

2049576

In [168]:
df.groupby('year')['total_count'].sum()

year
0    1243103
1    2049576
Name: total_count, dtype: int64

# Pergunta 8

*Qual estação do ano contém a maior média de locações de bicicletas?*

In [169]:
# season: estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono)
df.groupby('season')['total_count'].mean().sort_values(ascending=False)

season
3    236.016237
2    208.344069
4    198.868856
1    111.114569
Name: total_count, dtype: float64

# Pergunta 9

*Qual estação do ano contém a menor média de locações de bicicletas?*

In [170]:
# season: estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono)
df.groupby('season')['total_count'].mean().sort_values()

season
1    111.114569
4    198.868856
2    208.344069
3    236.016237
Name: total_count, dtype: float64

# Pergunta 10

*Qual horário do dia contém a maior média de locações de bicicletas?*

In [171]:
df.groupby('hour')['total_count'].mean().sort_values(ascending=False).head(5)

hour
17    461.452055
18    425.510989
8     359.011004
16    311.983562
19    311.523352
Name: total_count, dtype: float64

# Pergunta 11

*Qual horário do dia contém a menor média de locações de bicicletas?*

In [172]:
df.groupby('hour')['total_count'].mean().sort_values().head(5)

hour
4     6.352941
3    11.727403
5    19.889819
2    22.869930
1    33.375691
Name: total_count, dtype: float64

# Pergunta 12

*Que dia da semana contém a maior média de locações de bicicletas?*

In [173]:
df.groupby('weekday')['total_count'].mean().sort_values(ascending=False)

weekday
4    196.436665
5    196.135907
2    191.238891
3    191.130505
6    190.209793
1    183.744655
0    177.468825
Name: total_count, dtype: float64

# Pergunta 13

*Que dia da semana contém a menor média de locações de bicicletas?*

In [174]:
df.groupby('weekday')['total_count'].mean().sort_values()

weekday
0    177.468825
1    183.744655
6    190.209793
3    191.130505
2    191.238891
5    196.135907
4    196.436665
Name: total_count, dtype: float64

# Pergunta 14

*Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?*

In [175]:
df[df['weekday'] == 3].groupby('hour').agg({'total_count': 'mean'}).sort_values('total_count', ascending=False).head(5)

      total_count
hour
17     513.144231
18     494.029126
8      488.326923
19     357.504854
7      303.980769

# Pergunta 15

*Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?*

In [176]:
df[df['weekday'] == 6].groupby('hour').agg({'total_count': 'mean'}).sort_values('total_count', ascending=False).head(5)

      total_count
hour
13     385.371429
15     382.428571
14     381.333333
12     375.380952
16     366.142857